/*--------------------------
common style
--------------------------*/
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}
.no-article {
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

/*--------------------------
header format
--------------------------*/
header {
  overflow: hidden;
  height: 70px;
  padding-top: 25px;
}
header h1 {
  float: left;
}
header nav {
  float: right;
  overflow: hidden;
}
header nav ul {
  overflow: hidden;
}
header nav ul li {
  float: left;
  font-size: 14px;
}
header nav ul li::after {
  content: '｜';
  margin: 0px 1em;
}
header nav ul li:last-child::after {
  content: none;
}
header nav ul li a {
  color: #000;
}
header nav.contact-form {
  border: 1px solid #000;
  margin: 19px 20px 0 0;
  color: #000;
  font-size: 14px;
  padding: 3px 45px;
}
/*--------------------------
close header format
--------------------------*/
/*--------------------------
footer format
--------------------------*/
@media print, screen {
  #site_footer {
    background-color: #fff;
    margin-top: 80px;
    min-width: 1000px;
    padding: 10px;
  }
  #site_footer .inner {
    overflow: hidden;
  }
  #site_footer .inner nav {
    float: left;
  }
  #site_footer .inner nav ul {
    margin: 10px 0px;
  }
  #site_footer .inner nav ul li {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: #66cc66;
    display: inline-block;
  }
  #site_footer .inner nav ul li::after {
    content: '｜';
    margin: 0px 1em;
  }
  #site_footer .inner nav ul li a {
    text-decoration: none;
  }
  #site_footer .inner nav ul li:first-child::before {
    content: '｜';
    margin-right: 1em;
  }
  #site_footer .inner small {
    font-size: 11px;
    line-height: 1.2;
    text-align: right;
    color: #777;
    display: block;
    float: right;
  }
  #site_footer .inner small img {
    margin: 0px 0px 10px  auto;
    width: 110px;
    display: block;
  }
}

@media screen and (max-width: 640px) {
  #site_footer {
    margin-top: 60px;
    min-width: inherit;
    padding: 0px;
  }
  #site_footer .inner nav {
    float: none;
  }
  #site_footer .inner nav ul {
    border-bottom: #66cc66 solid 1px;
    margin: 0px;
  }
  #site_footer .inner nav ul li {
    border-top: #66cc66 solid 1px;
    margin-top: 0px;
    font-size: 12px;
    display: block;
  }
  #site_footer .inner nav ul li::after {
    display: none;
  }
  #site_footer .inner nav ul li a {
    padding: 10px;
    display: block;
  }
  #site_footer .inner nav ul li:first-child::before {
    display: none;
  }
  #site_footer .inner small {
    padding: 10px;
    text-align: center;
    float: none;
  }
  #site_footer .inner small img {
    margin: 0px auto 10px;
    width: 80px;
  }
}
/*-------------------------
close header format
--------------------------*/

